@import '~antd/dist/antd.css';

*{
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
}
.room_warp{
    width:100%;
    margin: 0;
    padding: 0;
}
.room_carousel_warp{
    width:100%;
    overflow: hidden;
    position: relative;
}
.room_carousel{
    width:3050px;
    /* overflow: hidden; */
    position: relative;
  
}
.room_warp ul{
    display: flex;
}

.room_nav{
    width:1200px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    z-index: 99;
    top:50%;
    left:50%;
    margin-top: -30px;
    margin-left: -600px;
   
}
.room_nav_btn{
    color: #fff;
    font-size: 34px;
    width:60px;
    height: 60px;
    border-radius: 100%;
    background-color: #6c6658;
    text-align: center;
    line-height: 60px;
    opacity: 0.6;
    cursor: pointer;
}
.room_nav_left{
    float: left;

}
.room_nav_right{
  float:right;
}
.room_tit_warp{
    width: 100%;
    height: 185px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -13px;
   
}
.room_main_warp{
    width:100%px;
    margin: 0 auto;
}
.room_main_right_warp{
    position: relative;
    width: 300px;
    height: 563px;
    float: right;

}
.room_main_right{  
    width: 300px;
    height: 563px;
    float: right;
    margin-top:-30px;
    z-index: 9999;
    /* border:1px solid #ddd; */

} 
.room_main_right_price{
    width: 100%;
    height: 44px;
    line-height: 44px;
    background-color: #363c43;
    opacity: 0.95;
}
.room_main_right_price p{
    display:flex;
    width:95%;
    margin: 0 auto;
    color: #fff;
    justify-content: space-between;
}
.room_main_right_rz{
    width: 300px;
    height: 230px;
    padding: 10px;
    border: 1px solid #dddddd;
    background-color: #fff;
}
.room_main_right_rzrq{
    width: 272px;
    height: 38px;
    border: 1px solid #ddd;
    margin-top: 3px;
    position: relative;
    z-index: 3;
}
.room_main_right_rzrq input{
    border:0;

}
.right_rzrq_mx .rzrq_text {
    width: 80px;
    height: 36px;
    line-height: 36px;
    border: none;
    float: left;
    padding-left: 5px;
}
.right_rzrq_mx span{
    line-height: 36px;
    color: #777;
    font-size: 14px;
}
    
.room_main_right_rz p{
        width: 100%;
        line-height: 30px;
        color: #777;
}
.room_main_right_price p span:first-child{
    font-size: 30px;
}
.room_main_right_price p span:first-child b{
    font-weight: 100;
    font-size: 18px;
}
.room_main_right_price p span:last-child{
    font-size: 16px;
    line-height: 44px;
}
.room_main{
    width:900px;
    float: left;
    margin-top:15px;
    height: 20px;
    line-height: 20px;
}
.room_main p{
    color:#aaa;
}
.room_main p  a{
    color: #aaa;
}

.room_tit {
    width: 816px;
    height: 30px;
    font-size: 22px;
    margin-top: -10px;
    float: left;
    color: #666;
    /* background-color: red; */
}
.room_tit_left{
    float: left;
}
.room_tit_right{
    float: right;
    margin-right: 15px;
}
.room_tit h1 a{
    color: #666;
    font-size: 22px;
}
.room_tit h1 a:hover{
    color:#FF6C5C;
}
.room_tit h1 span{
    display: inline-block;
    font-size: 14px;
    color:#fff;
    background-color: #FF6C5C;
    width: 52px;
    height: 22px;
    text-align: center;
    margin: 6px 0 0 12px;
    line-height: 22px;
    border-radius: 3px;
}
.room_tit_right span{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    color:#fff;
    font-size: 18px;
}
.room_tit_right .fenxiang{
    background-color: #cccccc;
}
.room_tit_right .xin{
    
    background-color: #FF6C5C;
}
.room_info{
    clear: both;
}
.room_info p{
    font-size:12px;
    height:30px;
    line-height: 30px;
}
.room_info p .red{
    color:#ff6c5c;
}
.room_info p .hei{
    color:#777;
}
.room_jzxx_warp{
    display: flex;
}
.room_jzxx{
    display:flex;
    width:400px;
    justify-content:space-between;
     border-right: 1px  solid #ccc;
}
.room_jzxx_left{
    width: 95px;
    color: #777;
    line-height: 0px;
}
.room_jzxx_left .shang{
   
    font-size: 32px;
    margin-bottom: 15px;
}
.room_jzxx_left .xia{
    color:#777;
}

.room_jzxx_right{
    display: flex;
}
.room_jzxx_right p{
    width: 100px;
    height: 55px;
    text-align: center;
    color: #aaa;
    line-height: 26px;
}
    
.room_jzxx_right p span {
    display: block;
 
}
.room_jzxx_right p .shang{
    font-size: 26px;
}
.room_jzxx_right p .xia{
    color:#ff6c5c;
}
/* nav static */
.room_main_warp{
    width: 1200px;
    margin:0 auto;
}
.room_main_nav_warp{
    width:100%;
    height: 54px;
}
.room_main_nav,
.nav_fixed_warp {
    width:1200px;
    margin: 0 auto;
}

.room_main_nav_list{
    width: 850px;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;

}
.room_main_nav_list li{
    width: 106px;
    line-height: 55px;  
}
.room_main_nav_list li a,
.main_nav_fixed_list li a{
    color:#aaa;
    
}
.room_main_nav_list li a:hover{
    color:#ff6c5c;
}

/* nav fixed */
.room_main_nav_fixed{
    display: none;
    width:100%;
    height: 44px;
    background-color: #565a5c;
}
.main_nav_fixed_list{
     width: 850px;
     height: 44px;
     line-height: 44px;
     font-size: 14px;    
}
.main_nav_fixed_list li{
     width: 110px;
     line-height: 44px;
}
.main_nav_fixed_list li a:hover{
     height:42px;
     border-bottom:2px solid #CCCCCC;
     color:#FFFFFF;
    cursor: pointer;
    padding-bottom: 11px;
}
.hover a{
    border-bottom:2px solid #Fe7e71;
    color:#FFFFFF !important;
    padding-bottom: 11px;
}


/* 房源 */
.room_main_fy{
    width: 850px;
    border-bottom: 1px solid #ddd;
}
.room_main_fy_tit{
    width: 100%;
    color: #555;
    /* height: 60px; */
    font-size: 16px;
    /* line-height: 60px; */
}

.room_main_fy_text{
    text-indent: 26px;
    padding-bottom: 30px;
    margin-top: 20px;
}
.room_main_xq{
    width: 850px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
.room_main_xq_list{
    width: 100%;
    padding-top: 16px;
    display: flex;
  
}

.room_main_xq_listli{
    width: 283px;
    height: 50px;
    line-height: 50px;
}

.room_main_xq_listli .zuo{
    width: 34px;
    height: 50px;
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}
.room_main_xq_listli .zhong{
    color:#888;
}
.room_main_xq_listli .you{
    font-weight: bold;
    color:#777;
}
.room_main_xq_cz{
    margin-top:30px;
    color: #ff6c5c;
    cursor: pointer;
}
.room_main_xq_cz .sq{
    display: none;
}
.room_main_pt{
    width: 850px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    clear: both;
}
#ptss{
    display: none;
}
#ptss1{
    display: none;
}
.room_main_pt_tit{
    margin-top:30px;
    width: 100%;
    color: #555;
    font-size: 18px;
}
.room_main_pt_list{
    display: flex;
}
.room_main_pt_listli{
    width: 170px;
    height: 46px;
    line-height: 46px;
 
}
.room_main_pt_listli span:first-child{
    font-size: 30px;
    margin-right: 10px;   
}
.room_main_pt_listli span:last-child{
    color:#888;  
}
.room_main_zbss,
.room_main_cclx,
.room_main_fydz,
.room_main_jygz,
.room_main_jzdb,
.room_main_yq,
.room_main_fkpj {
                width: 850px;
                border-bottom: 1px solid #ddd;
                padding-bottom: 30px;
}
.room_main_fy_tit,
.room_main_zbss_tit,
.room_main_cclx_tit,
.room_main_fydz_tit,
.room_main_jzdb_tit,
.room_main_fkpj_tit {
                margin-top:30px;
                width: 100%;
                color: #555;
                font-size: 18px;

}
.room_main_zbss_wz ,.room_main_cclx_wz{
    text-indent: 20px;
}
.room_main_fydz_add span:first-child{ 
    display: inline-block;
    max-width: 360px;
    color: #4b4a49;
}
.room_main_fydz_add span:nth-child(2){
    display: inline-block;
    margin-left: 30px;
    padding-left: 22px;
    color: #ff9589;
    cursor: pointer;
}
.room_main_fydz_add span:last-child{
    float: right;

    color: #999695;
}
.room_main_fydz_map{
    margin-top: 30px;
    width: 850px;
    height: 400px;
    border: 1px solid #ddd;
   
}
.room_main_jygz_tit{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e7e7e7;
}
.room_main_jygz_tit p span:first-child{
    float: left;
    font-size: 18px;
}
.room_main_jygz_tit p span:last-child{
    float: right;
    color:#ff9589;
    font-size: 14px;
}
.room_main_jygz_xq p{
    font-size: 14px;
    color:#777;
}
.room_main_jzdb_tit P:last-child{
    width: 100%;
    line-height: 28px;
    color: #777;
    font-size: 14px;
}
.room_main_fkpj_tit{
    display: flex;
    justify-content: space-between;
}
.room_main_fkpj_tit p:last-child{
    font-size: 16px;
    color: #bbb;
}
.room_main_fkpj_tit p span:last-child{
    padding: 0 5px;
    border-radius: 10px;
    color: #fff;
    background-color: #cccccc;
    margin-left: 10px;
}
.room_main_fkpj_tb{
    width: 850px;
    height: 130px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    ;
}
.room_main_fkpj_tb p span{
    display: block;
}
.room_main_fkpj_hpl {
    margin-right: 60px
}
.room_main_fkpj_hpl p span:first-child {
    width: 68px;
    height: 68px;
    background-color: #ff9589;
    text-align: center;
    font-size: 24px;
    line-height: 68px;
    color: #fff;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.room_main_fkpj_hpl p span:last-child,
.room_main_fkpj_zhpf p span:last-child {
    color:#777;
    font-size: 12px;
    width:68px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.room_main_fkpj_pf{
    width: 294px;
    height: 45px;
    line-height: 45px;
   
}
.room_main_fkpj_pf p{
    display: flex;
}
.room_main_fkpj_pf p span:first-child{
     width: 66px;
    color: #888;
    font-size: 14px;
}
.room_main_fkpj_pf p span:nth-child(2){
     width: 152px;
     height: 14px;
     margin-left: 5px;
     display: inline;
     background-color:#788b97;
     margin-top:15px;
}
.room_main_fkpj_pf p span:nth-child(2) b{
    width: 30%;
    width:152px;
    height: 14px;
    background-color: #74bbe8;
}
.room_main_fkpj_pf p span:last-child{
    margin-left:6px;
    color:#ff9589;
    font-size: 12px;
}
.room_main_fkpj_zhpf p span{
    display: block;
}
.room_main_fkpj_zhpf p span:first-child{
     width: 68px;
    height: 68px;
    background-color: #a5bdcc;
    text-align: center;
    font-size: 24px;
    line-height: 68px;
    color: #fff;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.room_main_fkpj_list {
    width:100%;
    height: 200px;
    /* background-color:blueviolet; */
    /* border: 1px solid red; */
}
.room_main_fkpj_list ul li{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    margin-top: 15px;
}
.room_main_fkpj_usertx{
    float: left;
}
.room_main_fkpj_usertx img{
    width:60px;
    height: 60px;
    border-radius: 100%;
}
.room_main_fkpj_userinfo{
    width: 778px;
    float: right;
}
.room_main_fkpj_username p{
    width: 100%;
    font-weight: bold;
    line-height: 30px;
    color:#ff9589;
}
.room_main_fkpj_usernr{
    width:100%;
}
.room_main_fkpj_usernr p{
    font-size: 14px;
}

.room_main_fkpj_userpf{
    width: 100%;
    margin-top: 20px;
    color: #999;
}
.room_main_fkpj_userpf p .shang{
    margin-right: 10px;
    font-size: 12px;
}
.room_main_fkpj_userpf p .xia{
    font-size: 12px;
    color:#ff9589;
    margin-right:10px;
}
    
    
    

   
    

    

    