body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
@import '~antd/dist/antd.css';
/* 发现 */
.ant-carousel .slick-slide {
    text-align: center;
   
   
     height: 376px;
    line-height: 160px;
    /* background:red; */
    /* margin: 0 auto; */
    overflow: hidden;
    
  }
  .huopic{
      display: inline;
     
      margin:0 5px 5px 0;
      
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
    
  }
  .slick-dots li{
    cursor: pointer;
    height: 10px;
    width: 30px;
    background:#fff;
  }
  .slick-dots .slick-active{
    
      background: red;
  }
  .slick-dots .slick-active button{
    height: 10px!important;
    width: 30px!important;
    background: red!important;
   

  }


footer{
    height: 60px;
    width: 1200px;
    background: #4023c4;
    margin: 0 auto;
    text-align: center;
}
a{
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    
}
.findbanner{
   /* width: 100%; */
   height: 376px;

}
.findbanner ul{
    text-align: center;
   /* background: red; */
   margin: 0 auto;
   /* width: 1500px; */
   /* width: 1920px; */
   /* margin: 0 auto; */
   
}

li{
    margin: 0;padding: 0;
   
}
.findbanner .App-logo{
    /* width: 1500px; */
    margin: 0 ;
    padding: 0;
    width: 1500px;
    margin: 0 auto;
    
     height: 376px;
    
    /* height: 100%; */
}
.findcenter{
    background: #f0f0f0;
    height: auto;
}



.hetit{
    height: 70px;
    width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 70px;
    color: #888;
}
.titleft{
    float: left;
    width: 580px;
    height: 70px;
    font-size: 16px;
   
}
.titli{
    color: red;
    cursor: pointer;
}
.hetit a{
    color: #888;
}
/* .hetit a:hover{
    color: red;
} */
.titright{
    float: right;
}
.titul{
    display: flex;
}
.titul li{
    cursor: pointer;
    margin-right: 40px;
}
.titright{
    font-size: 14px;
}
.hemain{
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    height: auto;
}
.mainul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mainli{
    /* width: 373px; */
    height: 370px;
    margin: 0 10px 20px 10px;
    width: 31.6%;
    /* border: 1px solid #000; */
    background: #fff;

}
.hepic img{
    height: 200px;
    width: 373px;
}
.mainxq{
    width: 360px;
    padding: 10px;
    margin: 0 auto;
    height: 170px;
}
.hebt{
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}
.hebtdx a{
    color :#09f;
    font-size: 20px;
}
.heredu{
    color: #888;
    font-size: 12px;
}
.hefd{
    height: 30px;
    color: #888;
    font-size: 14px;
}
.hefd a{
    color: #888;
}
.hefdms{
    width: 340px;
    height: 80px;
    overflow: hidden;
    /* white-space: nowrap; */
    
    
    font-size: 14px;
    text-indent: 28px;
    color: #888;
}
.hepagewarp{
    padding-bottom: 60px;
    padding-top: 30px;
    width: 1180px;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 40px;
    font-family: 'microsoft yahei','微软雅黑';
}
.hepage{
   
    display: flex;
    justify-content: flex-end;
}
.hepage a{
    margin-left: 20px;
    display: inline-block;
    padding: 0 15px;
    height: 40px;
    background: 0 0;
    border-radius: 30px;
    background-color: #ccc;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.hepage a:hover{
    background: red;
}
/* 发现详情 */
.hecontentwarp{
    background: #f0f0f0;
    overflow: hidden;
}
.hecontent{
    /* min-width: 1240px; */
   
    height: auto;
    width: 1200px;
    margin: 0 auto;
}
.hecontop{
    height: 60px;

}
.hecontop a{
    font-size: 12px;
    line-height: 70px;
    color: #888;
}
.heconcenter{
    overflow: hidden;
    width: 1200px;
    height: auto;
  
}
.hecentleft{
    float: left;
    padding: 30px;
    width: 885px;
    height: auto;
    background: #ffffff;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
}
.storytitle{
   
    margin-top: 25px;
    width: 100%;
    color: #333;
    text-align: center;
    font: 30px "Microsoft YaHei";
    
}
.heruedu{
    
    height: 50px;
    line-height: 50px;
    /* border: 1px solid #0099ff; */
    color: #888;
    text-align: center;
    font: 12px/35px "Microsoft YaHei";
}
.zfxxpic{
    margin: 0 auto;
    margin-bottom: 30px;
    
}
.hezfxx{
    font-size: 20px;
    color: black;
}
.hecentright{
   
   float: left;
    padding: 20px 25px 20px 35px;
    width: 315px;
    min-height: 1200px;
    background: #f8f8f8;
    height: auto;
    
}
.s_mn_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.s_mn_t1 {
   
    padding-left: 15px;
    width: 180px;
    height: 40px;
    background: url(../img/title.jpg) center left no-repeat;
    background-size: 10px;
    color: #555;
    font: 16px/40px "Microsoft YaHei";
}
.hezhuren{
    /* background: #f8f8f8; */
    padding-top: 10px;
    width: 240px;
    /* height: 2140px; */
    /* border: 1px solid red; */
}
.hezhurenpic{
    width: 240px;
    height: 240px;
}
.hegrmz{
    text-align: center;
}
.hemz{
    display: block;
    text-align: center;
    font-size: 25px;
}
.heicon{
    text-align: center;
}
.heicon span{
    margin-right: 10px;
}
.hehpl{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px dashed #cecece;
    padding: 20px 0;
    
}
.hehpl p{
    line-height: 26px;
    height: 26px;
    color: black;
}
.hehpl .hehong{
    color:red;
}
.hefwtd{
   
    text-align: center;
    
}
.hefwtd a{
    display: block;
    width: 240px;
    height: 40px;
    background-color: #f30;
    color: #fff;
    margin: 30px 0;
}
.s_mn_t1{
    float: left;
}
.s_mn_t2{
    float: right;
}
.hetapic{
    width: 250px;
    height: 150px;
}
.hejiaq{
    display: flex;
    justify-content: space-between;
    /* height: 20px; */
    margin-top: -15px;
}
.hejiaq p{
    height: 20px;
    margin: 0;
    padding: 0;
}
.heys{
    color:red;
}

.mainul li{
    float: left;

}
.mainul{
    display: none;
    width: 1200px;
    overflow: hidden;
}





/*  */